|
  Confirm your authorization
  ================================

  Your email was specified during authorization on our website.
  Follow the link to approve: = users_auth_confirm_url(token: @token)
  Do nothing otherwise.
