<%- if @answer.errors.present? %>
  $('.question-answer .answer__form-errors').html('<ul><li><%= j @answer.errors.full_messages.join("<li></li>") %></li></ul>');
<%- else %>
  $('.question-answer .answer__form-errors').html('');
  $('.answers').prepend('<%= j render(@answer) %>');
  $('.question-answer').find("input[type=text], textarea").val("");
<% end %>
