.question {
    @include vertical-padding(10px);

    & .question__title {
        margin: 0;
    }

    & .question__body {
        @include border-radius(3px);

        background-color: rgba(black, 0.05);
        min-height: 100px;
        padding: 10px;
    }

    & .question__info-frame {
        display: flex;
        align-items: flex-start;
    }

    & .question__vote {
        margin-right: 10px;
    }

    & .question__info {
        flex: 1;
    }

    & .question__controls {
        padding-top: 10px;
        text-align: right;
    }

    & .question__form {
        display: none;
    }

    & .question__attachments {
        @include vertical-padding(10px);

        text-align: right;
    }

    & .question__control-button {
        @extend .btn, .btn-secondary;
    }
}
